.mainSection{
  background-color: #f5f8fa;
  padding-top: 1em;
}

.chat-section{
  bottom: 0;
  position: fixed;
  margin: 0 auto;
  background-color: #f5f8fa;
  width: 100%;
  padding-top: 1em;
}

.messages-list-container {
  margin: 0 auto;
  padding: 1em 0 4em 2em;
}

.chatPage-header{
  background-color: #E3E3D6;
  border-bottom:1px solid #C6C6C6;
}

hr {
  margin: 0px !important
}

.avatar-menu {
  padding: 0px !important
}

#buttons{
  padding-top: 20px;
}

.container.advice {
  margin-top: 200px !important;
}

.advice .panel-body{
  background-color: #FFFFFF
}

.todo{
  border-radius:4px 4px 4px 4px;
  -moz-border-radius:4px 4px 4px 4px;
  -o-border-radius:4px 4px 4px 4px;
  -webkit-border-radius:4px 4px 4px 4px;
  box-shadow:none;
  -moz-box-shadow:none;
  -o-box-shadow:none;
  -webkit-box-shadow:none;
  color:#fff;
  background-color:#ccc;
}

.footer-text {
  margin-top: 3em;
}

.mainSection-chunk{
  background-color:#fff;
  border-radius:3px 3px 3px 3px;
  border: 1px solid #d3e0e9;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90%;
}

.mainSection-chunk.mainSection-chunk-camStream{
  padding:1em;
}

.snapshotsColumn img{
  /*width: auto;*/
  width: 100%;
  height: 100%;
  /*margin-bottom:10px;*/
}

.box{
  /*height: 182px;*/
  overflow: hidden;
  margin-bottom:10px;
}

.box-username{
  position: relative;
  padding: 0px 4px;
  z-index: 2;
  color: white;
  width: 100%;
  height: 20px;
  font-weight: bold;
  background-color: hsla(0, 2%, 9%, 0.45);
}

.availability-box {
  position: relative;
  padding: 0px 4px;
  width: 10px;
  height: 10px;
}

/*Overlay chat*/

.container.notShownOverlay.shownOverlay{
  width: 100%;
  padding:2em;
  height: 100%;
  background-color: rgba(49, 55, 65, 0.85);
}

.notShownOverlay{
  position: fixed;
  top: -200%;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 900;
  -webkit-transition: top .8s ease-in;
  -moz-transition: top .8s ease-in;
  -o-transition: top .8s ease-in;
  transition: top .8s ease-in;
  background-color: rgba(49, 55, 65, 0.85);
}

.shownOverlay{
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 55, 65, 0.85);
}

.message-author{
  font-weight: bold;
}

.panel-body{
  background-color: #f5f8fa;
}

.message-input{
  background-color: white;
  bottom: 0;
  padding: 0 1em 1em;
  position: absolute;
  width: 100%;
  z-index: 10000;
}

.messagesList{
  max-height: 46rem;
  background-color: #fff;
  overflow-y: scroll;
  /*padding:1em;*/
  /*border:1px solid #d3e0e9;*/
}

.users-list-item.birthname {
  font-size: 12px;
  font-style: italic;
}

.AvatarCropper-canvas canvas {
  border-radius: 100%
}

input[type=file]{
  color: #FFFFFF !important;
}

.chat-tooltip {
  padding: 0px 8px !important
}

.bold-text {
  font-weight: bold;
}

.popover {
  z-index: 500 !important;
}



/*
.avatar-image:hover {
  -webkit-animation: cssAnimation 0.5299s 1 ease-in-out;
  -moz-animation: cssAnimation 0.5299s 1 ease-in-out;
  -o-animation: cssAnimation 0.5299s 1 ease-in-out;
  }
  @-webkit-keyframes cssAnimation {
   from { -webkit-transform: scale(1)}
   to { -webkit-transform: scale(1.2)}
  }
  @-moz-keyframes cssAnimation {
    from { -moz-transform: scale(1)}
    to { -moz-transform: scale(1.2)}
  }
  @-o-keyframes cssAnimation {
    from { -o-transform: scale(1)}
    to { -o-transform: scale(1.2)}
  }*/
